<div class="container">
    <div class="msg">
        <h1>Welcome</h1>
        <h3>Sign in using your username and password</h3>
    </div>
    <div class="row">
        <div>
            <form accept-charset="UTF-8" validate [formGroup]="form" (ngSubmit)="login()">
                <div class="input-group">
                    <input placeholder="Username" type="text" name="handle"
                        formControlName="username">
                </div>
                <div class="alert" *ngIf="f.username.errors?.required && f.username.touched">Username is
                    required.</div>
                <div class="alert" *ngIf="f.username.errors?.pattern">Username
                    must includes only english letters and/or digits.</div>
                <div class="alert" *ngIf="f.username.errors?.minlength || f.username.errors?.maxlength">
                    Username must be at least 4 characters but not more then 20</div>
                <div class="input-group">
                    <input placeholder="Password" type="password"
                        name="password" formControlName="password">
                </div>
                <div class="alert" *ngIf="f.password.errors?.required && f.password.touched">Password is
                    required.</div>
                <div class="alert" *ngIf="f.password.errors?.pattern">Password
                    must includes only english letters and/or digits.</div>
                <div class="alert" *ngIf="f.password.errors?.minlength || f.password.errors?.maxlength">
                    Password must be at least 5 characters but not more then 20</div>
                <div>
                    <button [disabled]="form.invalid" class="button">Login</button>
                </div>
            </form>
            <div class="register-link">
                <p>Don`t have account? <a [routerLink]="['..','register']">Register</a></p>
            </div>
        </div>
    </div>
</div>