.category {
    display: inline-block;
    margin-top: 60px;
}
.card {
    display: inline-block;
    margin: 10px;
}

.card-img-top {
    width: 302px;
    height: 340px;
}

.card-body {
    padding: 3%;
    padding-bottom: 50px;
}

.card-body span {
   float: right;
}

.card-body a {
    margin: 1px;
    font-size: 15px;
    text-align: center;
}

.edit {
    background-color: orange;
    border-color: black;
}

.delete {
    background-color: red;
    border-color: black;
}

.right {
    float: right;
}

.user {
    margin: 1px;
}

.admin {
    margin: 3.5px;
}