main {
    margin: 0 auto;
}
.grid-section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10.4rem,1fr));
    gap: 0.3rem;
    padding: 5px;
    margin: 5px;
    text-align: center;
}

h1 {
    padding-left: 1.4rem;
}

.spinner {
    margin-top: 160px;
}

.card-img img {
    width: 9rem;
    height: 8rem;
}
.card-img {
    padding-top: 15px;
}
.card-body {
  padding: 3%;
}

.mat-icon {
    vertical-align: sub;
}
.card-body {
   text-align: center;
   margin: auto;
}

.card-body button {
    margin:1px 3px;
    font-size: 15px;
    text-align: center;    
}

.button-container-details {
    text-align: center;
}
.button-container-details a {
    width: 80%;
}
.mat-stroked-button:hover {
    color: #fff;
    background-color: #DD2C00;
    border-color:#DD2C00;
}
.edit {
    background-color: orange;
    border-color: black;
}

.delete {
    background-color: red;
    border-color: black;
}

.card-wrapper{
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
    background: white;
    border-radius: 4px;
    max-width: 15rem;
    padding: 2%;
}

.buttons-container-user {
    margin: 1px;
    text-align: center;
}

.admin {
    margin: 3.5px;
}

p {
    margin-bottom: 15px;
}