<div class="category">
    <h1>Phones</h1>
    <div class="card" style="width: 19rem;" *ngFor="let phone of phones$ | async | slice:0:4">
        <img src="{{phone.imageURL}}" class="card-img-top" alt="{{phone.name}}">
        <div class="card-body">
            <h5 class="card-title">{{phone.name}} <span>Likes: {{phone.likes.length}}</span></h5>
            <p class="card-text">{{phone.description}}</p>
            <ng-container *ngIf="(admin$ | async) then admin; else user"></ng-container>
            <ng-template #admin>
                <div class="admin">
                    <div class="right">
                        <a [routerLink]="['/article','edit', phone._id ]" class="btn btn-primary edit">Edit</a>
                        <a (click)="removeArticle(phone._id)" class="btn btn-primary delete">Delete</a>
                    </div>
                </div>
            </ng-template>
            <ng-template #user>
                <div class="user" *ngIf="(userId$ | async)">
                    <a (click)="addToBasket(phone._id)" class="btn btn-primary">Add to Basket</a>
                    <a (click)="addToFavorites(phone._id)" class="btn btn-primary">Add to Favorite</a>
                </div>
            </ng-template>
            <a [routerLink]="['/article','details', phone._id ]" class="btn btn-primary">Details</a>
        </div>
    </div>
    <h1>Phone Cases</h1>
    <div class="card" style="width: 19rem;" *ngFor="let case of cases$ | async | slice:0:4">
        <img src="{{case.imageURL}}" class="card-img-top" alt="{{case.name}}">
        <div class="card-body">
            <h5 class="card-title">{{case.name}} <span>Likes: {{case.likes.length}}</span></h5>
            <p class="card-text">{{case.description}}</p>
            <ng-container *ngIf="(admin$ | async) then admin; else user"></ng-container>
            <ng-template #user>
                <div class="user" *ngIf="(userId$ | async)">
                    <a (click)="addToBasket(case._id)" class="btn btn-primary">Add to Basket</a>
                    <a (click)="addToFavorites(case._id)" class="btn btn-primary">Add to Favorite</a>
                </div>
            </ng-template>
            <ng-template #admin>
                <div class="admin">
                    <div class="right">
                        <a [routerLink]="['/article','edit', case._id ]" class="btn btn-primary edit">Edit</a>
                        <a (click)="removeArticle(case._id)" class="btn btn-primary delete">Delete</a>
                    </div>
                </div>
            </ng-template>
            <a [routerLink]="['/article','details', case._id ]" class="btn btn-primary">Details</a>
        </div>
    </div>
    <h1>Screen Protectors</h1>
    <div class="card" style="width: 19rem;" *ngFor="let screenProtector of screenProtectors$ | async | slice:0:4">
        <img src="{{screenProtector.imageURL}}" class="card-img-top" alt="{{screenProtector.name}}">
        <div class="card-body">
            <h5 class="card-title">{{screenProtector.name}} <span>Likes: {{screenProtector.likes.length}}</span>
            </h5>
            <p class="card-text">{{screenProtector.description}}</p>
            <ng-container *ngIf="(admin$ | async) then admin; else user"></ng-container>
            <ng-template #admin>
                <div class="admin">
                    <div class="right">
                        <a [routerLink]="['/article','edit', screenProtector._id ]"
                            class="btn btn-primary edit">Edit</a>
                        <a (click)="removeArticle(screenProtector._id)" class="btn btn-primary delete">Delete</a>
                    </div>
                </div>
            </ng-template>
            <ng-template #user>
                <div class="user" *ngIf="(userId$ | async)">
                    <a (click)="addToBasket(screenProtector._id)" class="btn btn-primary">Add to Basket</a>
                    <a (click)="addToFavorites(screenProtector._id)" class="btn btn-primary">Add to Favorite</a>
                </div>
            </ng-template>
            <a [routerLink]="['/article','details', screenProtector._id ]" class="btn btn-primary">Details</a>
        </div>
    </div>
    <h1>Accessories</h1>
    <div class="card" style="width: 19rem;" *ngFor="let accessory of accessories$ | async | slice:0:4">
        <img src="{{accessory.imageURL}}" class="card-img-top" alt="{{accessory.name}}">
        <div class="card-body">
            <h5 class="card-title">{{accessory.name}} <span>Likes: {{accessory.likes.length}}</span></h5>

            <p class="card-text">{{accessory.description}}</p>
            <ng-container *ngIf="(admin$ | async) then admin; else user"></ng-container>
            <ng-template #admin>
                <div class="admin">
                    <div class="right">
                        <a [routerLink]="['/article','edit', accessory._id ]" class="btn btn-primary edit">Edit</a>
                        <a (click)="removeArticle(accessory._id)" class="btn btn-primary delete">Delete</a>
                    </div>
                </div>
            </ng-template>
            <ng-template #user>
                <div class="user" *ngIf="(userId$ | async)">
                    <a (click)="addToBasket(accessory._id)" class="btn btn-primary">Add to Basket</a>
                    <a (click)="addToFavorites(accessory._id)" class="btn btn-primary">Add to Favorite</a>
                </div>
            </ng-template>
            <a [routerLink]="['/article','details', accessory._id ]" class="btn btn-primary">Details</a>
        </div>
    </div>
</div>