<div class="container">
    <div id="realContent" class="col-xs-12">
        <div class="title">
            <h1>Sign Up</h1>
        </div>
        <div class="body">
            <div class="msg">
                <!-- Instructions -->
                <p class="lead">Register now for <span class="text-success">FREE</span></p>
                <ul class="list-unstyled" style="line-height: 2; font-size: 1.4em; font-weight: 500;">
                    <li><span class="fa fa-check text-success"></span> Ability to save your
                        favorite articles!</li>
                    <li><span class="fa fa-check text-success"></span> You can buy any product
                        listed in the site!</li>
                    <li><span class="fa fa-check text-success"></span> Can leave likes and
                        comments for each article!</li>
                    <li><span class="fa fa-check text-success"></span> Can read others comments
                        for each article!</li>
                </ul>
            </div>
            <!-- Registration Form -->
            <div class="form">
                <form id="signupForm" accept-charset="UTF-8" [formGroup]="form" (ngSubmit)="register()">
                    <div class="input-group">
                        <input placeholder="Username" type="text" name="handle" formControlName="username">
                    </div>
                    <div class="alert" *ngIf="f.username.errors?.required && f.username.touched">
                        Username is
                        required.</div>
                    <div class="alert" *ngIf="f.username.errors?.pattern">Username
                        must includes only english letters and/or digits.</div>
                    <div class="alert"
                        *ngIf="f.username.errors?.minlength || f.username.errors?.maxlength">
                        Username must be at least 4 characters but not more then 20</div>
                    <div class="input-group">
                        <input placeholder="Password" type="password" name="password" formControlName="password">
                    </div>
                    <div class="alert" *ngIf="f.password.errors?.required && f.password.touched">
                        Password is
                        required.</div>
                    <div class="alert" *ngIf="f.password.errors?.pattern">Password
                        must includes only english letters and/or digits.</div>
                    <div class="alert"
                        *ngIf="f.password.errors?.minlength || f.password.errors?.maxlength">
                        Password must be at least 5 characters but not more then 20</div>
                    <div class="input-group">
                        <input placeholder="Confirm Password" type="password" name="password_confirmation"
                            formControlName="confirmPassword">
                    </div>
                    <div class="alert"
                        *ngIf="f.confirmPassword.errors?.required && f.confirmPassword.touched">
                        Confirm password is required.</div>
                    <div class="alert" *ngIf="f.confirmPassword.errors?.mustMatch">
                        Passwords do not match.</div>
                        <button class="button" [disabled]="!form.valid" type="submit">Sign Up</button>
                </form>
                    <div class="login-link">Already a member? <a [routerLink]="['..','login']">Login</a></div>
            </div>
        </div>
    </div>
</div>