<div class="container-fluid">
    <div class="card" style="width: 22rem;">
        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.ACtwf8Itlrocx0ibi0oHOQHaEK%26pid%3DApi&f=1"
            class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Phone Case <span>Likes: 0</span></h5>
            
            <p class="card-text">Some quick example text </p>
            <div class="user">
                
                    <a href="#" class="btn btn-primary">Add to Basket</a>
                    <a href="#" class="btn btn-primary">Add to Favorite</a>
              
                <a href="#" class="btn btn-primary">Details</a>
            </div>
            <div class="admin" *ngIf="isAdmin">
                <div class="left">
                    <a href="#" class="btn btn-primary">Edit</a>
                </div>
                <div class="right">
                    <a href="#" class="btn btn-primary">Delete</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card" style="width: 22rem;">
        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.ACtwf8Itlrocx0ibi0oHOQHaEK%26pid%3DApi&f=1"
            class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Phone Case</h5>
            <p class="card-text">Some quick example text </p>
            <div class="user">
                <a href="#" class="btn btn-primary">Add to Basket</a>
                <a href="#" class="btn btn-primary">Add to Favorite</a>
                <a href="#" class="btn btn-primary">Details</a>
            </div>
            <div class="admin" *ngIf="isAdmin">
                <div class="left">
                    <a href="#" class="btn btn-primary">Edit</a>
                </div>
                <div class="right">
                    <a href="#" class="btn btn-primary">Delete</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card" style="width: 22rem;">
        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.ACtwf8Itlrocx0ibi0oHOQHaEK%26pid%3DApi&f=1"
            class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Phone Case</h5>
            <p class="card-text">Some quick example text </p>
            <div class="user">
                <a href="#" class="btn btn-primary">Add to Basket</a>
                <a href="#" class="btn btn-primary">Add to Favorite</a>
                <a href="#" class="btn btn-primary">Details</a>
            </div>
            <div class="admin" *ngIf="isAdmin">
                <div class="left">
                    <a href="#" class="btn btn-primary">Edit</a>
                </div>
                <div class="right">
                    <a href="#" class="btn btn-primary">Delete</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card" style="width: 22rem;">
        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.ACtwf8Itlrocx0ibi0oHOQHaEK%26pid%3DApi&f=1"
            class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Phone Case</h5>
            <p class="card-text">Some quick example text </p>
            <div class="user">
                <a href="#" class="btn btn-primary">Add to Basket</a>
                <a href="#" class="btn btn-primary">Add to Favorite</a>
                <a href="#" class="btn btn-primary">Details</a>
            </div>
            <div class="admin" *ngIf="isAdmin">
                <div class="left">
                    <a href="#" class="btn btn-primary">Edit</a>
                </div>
                <div class="right">
                    <a href="#" class="btn btn-primary">Delete</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="card" style="width: 22rem;">
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.ACtwf8Itlrocx0ibi0oHOQHaEK%26pid%3DApi&f=1"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Screen Protector</h5>
                <p class="card-text">Some quick example text </p>
                <div>
                    <a href="#" class="btn btn-primary">Add to Basket</a>
                    <a href="#" class="btn btn-primary">Add to Favorite</a>
                    <a href="#" class="btn btn-primary">Details</a>
                </div>
                <div *ngIf="isAdmin">
                    <a href="#" class="btn btn-primary">Edit</a>
                    <a href="#" class="btn btn-primary">Delete</a>
                </div>
            </div>
        </div>
        <div class="card" style="width: 22rem;">
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.ACtwf8Itlrocx0ibi0oHOQHaEK%26pid%3DApi&f=1"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Screen Protector</h5>
                <p class="card-text">Some quick example text </p>
                <div>
                    <a href="#" class="btn btn-primary">Add to Basket</a>
                    <a href="#" class="btn btn-primary">Add to Favorite</a>
                    <a href="#" class="btn btn-primary">Details</a>
                </div>
                <div *ngIf="isAdmin">
                    <a href="#" class="btn btn-primary">Edit</a>
                    <a href="#" class="btn btn-primary">Delete</a>
                </div>
            </div>
        </div>
        <div class="card" style="width: 22rem;">
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.ACtwf8Itlrocx0ibi0oHOQHaEK%26pid%3DApi&f=1"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Screen Protector</h5>
                <p class="card-text">Some quick example text </p>
                <div>
                    <a href="#" class="btn btn-primary">Add to Basket</a>
                    <a href="#" class="btn btn-primary">Add to Favorite</a>
                    <a href="#" class="btn btn-primary">Details</a>
                </div>
                <div *ngIf="isAdmin">
                    <a href="#" class="btn btn-primary">Edit</a>
                    <a href="#" class="btn btn-primary">Delete</a>
                </div>
            </div>
        </div>
        <div class="card" style="width: 22rem;">
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.ACtwf8Itlrocx0ibi0oHOQHaEK%26pid%3DApi&f=1"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Screen Protector</h5>
                <p class="card-text">Some quick example text </p>
                <div>
                    <a href="#" class="btn btn-primary">Add to Basket</a>
                    <a href="#" class="btn btn-primary">Add to Favorite</a>
                    <a href="#" class="btn btn-primary">Details</a>
                </div>
                <div *ngIf="isAdmin">
                    <a href="#" class="btn btn-primary">Edit</a>
                    <a href="#" class="btn btn-primary">Delete</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="card" style="width: 22rem;">
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.ACtwf8Itlrocx0ibi0oHOQHaEK%26pid%3DApi&f=1"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text </p>
                <div>
                    <a href="#" class="btn btn-primary">Add to Basket</a>
                    <a href="#" class="btn btn-primary">Add to Favorite</a>
                    <a href="#" class="btn btn-primary">Details</a>
                </div>
                <div *ngIf="isAdmin">
                    <a href="#" class="btn btn-primary">Edit</a>
                    <a href="#" class="btn btn-primary">Delete</a>
                </div>
            </div>
        </div>
        <div class="card" style="width: 22rem;">
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.ACtwf8Itlrocx0ibi0oHOQHaEK%26pid%3DApi&f=1"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text </p>
                <div>
                    <a href="#" class="btn btn-primary">Add to Basket</a>
                    <a href="#" class="btn btn-primary">Add to Favorite</a>
                    <a href="#" class="btn btn-primary">Details</a>
                </div>
                <div *ngIf="isAdmin">
                    <a href="#" class="btn btn-primary">Edit</a>
                    <a href="#" class="btn btn-primary">Delete</a>
                </div>
            </div>
        </div>
        <div class="card" style="width: 22rem;">
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.ACtwf8Itlrocx0ibi0oHOQHaEK%26pid%3DApi&f=1"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text </p>
                <div>
                    <a href="#" class="btn btn-primary">Add to Basket</a>
                    <a href="#" class="btn btn-primary">Add to Favorite</a>
                    <a href="#" class="btn btn-primary">Details</a>
                </div>
                <div *ngIf="isAdmin">
                    <a href="#" class="btn btn-primary">Edit</a>
                    <a href="#" class="btn btn-primary">Delete</a>
                </div>
            </div>
        </div>
        <div class="card" style="width: 22rem;">
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.ACtwf8Itlrocx0ibi0oHOQHaEK%26pid%3DApi&f=1"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text </p>
                <div>
                    <a href="#" class="btn btn-primary">Add to Basket</a>
                    <a href="#" class="btn btn-primary">Add to Favorite</a>
                    <a href="#" class="btn btn-primary">Details</a>
                </div>
                <div *ngIf="isAdmin">
                    <a href="#" class="btn btn-primary">Edit</a>
                    <a href="#" class="btn btn-primary">Delete</a>
                </div>
            </div>
        </div>
    </div>