<div class="row" *ngIf="article$ | async as article; else loading">
    <div class="title">
        <h1 class="my-4">Title : {{article.name}}</h1>
    </div>
    <div class="col-md-8 img-container">
        <img src="{{article.imageURL}}" alt="{{article.name}}" />
    </div>
    <div class="col-md-4 text-center text-container">
        <h4 class="my-3">Price: </h4>
        <p>{{article.price}}</p>
        <h4 class="my-3">Quantity: </h4>
        <p>{{article.quantity}}</p>
        <h3 class="my-3">Description</h3>
        <p>{{article.description}}</p>
        <ng-container *ngIf="(admin$ | async) then admin; else user"></ng-container>
        <ng-template #admin>
            <div class="admin" *ngIf="admin">
                <div class="right">
                    <a class="btn btn-warning" [routerLink]="['/article', 'edit', article._id]">Edit</a>
                    <a class="btn btn-danger" (click)="removeArticle(article._id)">Delete</a>
                </div>
            </div>
        </ng-template>
        <ng-template #user>
            <div class="user" *ngIf="(userId$ | async)">
                <a class="btn btn-outline-primary" (click)="addToFavorites(article._id)">Add to favorites</a>
                <a class="btn btn-outline-primary" (click)="addToBasket(article._id)">Add to basket</a>
                <a *ngIf="alreadyLiked" class="btn btn-outline-warning" (click)="like(article._id)">Like</a>
                <a class="btn btn-outline-secondary">Write comment</a>
                <p *ngIf="alreadyLiked" class="btn btn-outline-success">You are already like the product.</p>
                from likeAlready = {{alreadyLiked}}
            </div>
        </ng-template>
        <div class="col-md-8" *ngFor="let comment of article.comments">{{comment}}</div>
    </div>
</div>
<ng-template #loading>
    <div class="spinner-border" role="status" class="text-center">
        <span class="sr-only">Loading...</span>
    </div>
</ng-template>