<header class="header">
  <h1 class="logo"><a href="#">Phone Shop</a></h1>
  <ul class="main-nav">
    <li class="nav-item"><a href="#">Orders</a></li>
    <li><a href="#">Users</a></li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dropdown
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Articles</a>
      <div class="dropdown-menu" aria-labelledby="dropdown01">
        <a href="" class="dropdown-item">Phones</a>
        <a href="" class="dropdown-item">Phone Cases</a>
        <a href="" class="dropdown-item">Screen Protectors</a>
        <a href="" class="dropdown-item">Accessories</a>
      </div>
    </li>
    <li><a href="#">My Favorites</a></li>
    <li><a href="#">My Basket</a></li>
    <li><a href="#">Login</a></li>
    <li><a href="#">Register</a></li>
    <li><a href="#">Profile</a></li>
    <li><a href="#">Log Out</a></li>
  </ul>
</header>