app-aside {
  display: none;
}
:host /deep/ router-outlet + * {
  grid-column: span 13;
}
.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  overflow: hidden;
}
/* Small tablets and laptops styles (620px and up) */
@media screen and (min-width: 620px) {
  :host /deep/ router-outlet + * {
    grid-column: 2/12;
  }
}

/* Large tablets & laptops (960 and up) */
@media screen and (min-width: 960px) {
  body {
    font-size: 20px;
  }
  :host /deep/ router-outlet + * {
    grid-column: 1/9;
  }
  app-aside {
    display: block;
    grid-column: 9/13;
  }
}

/* Desktop styles (1200px and up) */
@media screen and (min-width: 1200px) {
  body {
    font-size: 22px;
  }
  app-aside {
    grid-column: 10/13;
  }
  :host /deep/ router-outlet + * {
    grid-column: 2/10;
  }
}
