<section>
  <h2>Share your favorite shop !</h2>
  <ul class="share">
    <li><a href="https://www.facebook.com/sharer.php?u=http://nemasmisal.online" class="fa fa-facebook"><i>
          Facebook</i></a></li>
    <li><a href="https://twitter.com/intent/tweet?url=http://nemasmisal.online&text=" class="fa fa-twitter"><i>
          Twitter</i></a></li>
    <li><a href="https://pinterest.com/pin/create/button/?url=http://nemasmisal.online&media=&description="
        class="fa fa-pinterest"><i> Pinterest</i></a></li>
  </ul>
</section>
<section *ngIf="(newestArticles$ | async) as articles; else loading">
  <h2>New arrivals:</h2>
  <ul>
    <li [routerLink]="['/article','category', articles.phone.category, 'details', articles.phone._id]">
      <article>
        <h2>Phone</h2>
        <p>{{articles.phone.name}}</p>
        <img src="{{articles.phone.imageURL}}" class="li-img" alt="{{articles.phone.name}}">
      </article>
    </li>
    <li [routerLink]="['/article','category', articles.case.category,'details', articles.case._id]">
      <article>
        <h2>Case</h2>
        <p>{{articles.case.name}}</p>
        <img src="{{articles.case.imageURL}}" class="li-img" alt="{{articles.case.name}}">
      </article>
    </li>
    <li
      [routerLink]="['/article','category', articles.screenProtector.category,'details', articles.screenProtector._id]">
      <article>
        <h2>Screen Protector</h2>
        <p>{{articles.screenProtector.name}}</p>
        <img src="{{articles.screenProtector.imageURL}}" class="li-img" alt="{{articles.screenProtector.name}}">
      </article>
    </li>
    <li [routerLink]="['/article','category', articles.accessory.category, 'details', articles.accessory._id]">
      <article>
        <h2>Accessory</h2>
        <p>{{articles.accessory.name}}</p>
        <img src="{{articles.accessory.imageURL}}" class="li-img" alt="{{articles.accessory.name}}">
      </article>
    </li>
  </ul>
</section>
<ng-template #loading>
  <div class="spinner-border" role="status" class="text-center">
    <span class="sr-only">Loading...</span>
  </div>
</ng-template>