.li-img {
  width: 100%;
  border: none;
}

li:focus {
  outline: none;
}

ul {
  list-style-type: none;
}

.share li {
  float: inherit;
  text-align: center;
  text-shadow: black;
  display: inline-flex;
  width: 30%;
}

li:hover {
  color: darkslategrey;
  cursor: pointer;
}

section {
  background-color: white;
  border: solid 5px white;
  width: 18rem;
}

aside {
  display: inline-grid;
  margin: 4rem auto;
  padding: 20px;
  background-color:white;
  -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}